<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Reviews </title>
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/layout.css" rel="stylesheet">
</head>
<body>
<section class="review-details">
    <h1 class="review-details__title" th:text="${review.title}">Reviews</h1>
    <h2 class="review-details__description" th:text="${review.description}">Description</h2>
<!--      <h2 class="review-category"  th:text="${review.category.id}+' '+ ${review.category.type}">Type</h2>-->
    <p class="book-details__summary" th:text="${review.synopsis}">
        A review.
    </p>


    <img  th:src="${review.imageUrl}" alt="image">

</section>


</body>

<a class="nav__home" th:href="'/categories/'+${review.category.type}">back to categories</a>

</html>